sudo: false
language: php
php:
  - 7.2
  - 7.1
  - 5.5
before_install:
  - export PATH="$PATH:$(composer global config bin-dir --absolute)"
  - composer global require "squizlabs/php_codesniffer=3.*"
  - phpenv rehash
before_script:
  - git clone --branch=master --depth=1 --quiet git://github.com/WoltLab/WCF.git WCF
script:
  - find . -type f -name '*.php' -not -path './WCF/*' -print0 |xargs -0 -I file -P 4 php -l file > /dev/null
  - phpcs -p --extensions=php --standard="`pwd`/WCF/CodeSniff/WCF" . --ignore="/WCF/*"

notifications:
  email: false
