.importantToDo , .importantToDo a {
	color: #ff0000;
}

// list pages
.todoList {
	> li {
		//border-top-left-radius: @wcfContainerBorderRadius;
		//border-top-right-radius: @wcfContainerBorderRadius;
	}

	.todoDepth1 {
		margin-top: 8px; //TODO: check
	}

	.todoDepth2 {
		&.todoContainer > .todo {
		}
	}

	> li.tabularBox {
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	}

	.todo {
		min-height: 44px;
		padding: 4px; //TODO: check
		padding-right: 51%;
		@include transition(background , .1s);
		&.box32 > *:not(:first-child) {
			margin: 0;
		}

		> div {
			float: none;
		}

		&:hover {
			//background-color: @wcfContainerHoverBackgroundColor;
		}
	}

	.todoDepth2 {
		&.todoContainer > .todoNode1 {
			padding-left: 43px;
		}

		&.todoDepth1 > header {
			padding-left: 43px;
		}
	}

	.todoStats {
		left: 49%;
		margin-top: -4px; //TODO: check
		position: absolute;
		top: 8px; //TODO: check
		width: 16%;
		> dl {
			> dt {
				//line-height: @wcfBaseLineHeight;
				width: 48%;
			}

			> dd {
				font-weight: normal;
				//font-size: @wcfSmallFontSize;
				width: 50%;
			}
		}
	}

	.todoContainer {
		position: relative;
		border: 0;
		border-radius: 0;
		&:last-child {
			//border-bottom-left-radius: @wcfContainerBorderRadius;
			//border-bottom-right-radius: @wcfContainerBorderRadius;
			.todo {
				//border-bottom-left-radius: @wcfContainerBorderRadius;
				//border-bottom-right-radius: @wcfContainerBorderRadius;
			}
		}

		&:not(:last-child) {
			//border-bottom: 1px solid @wcfContainerBorderColor;
		}

		> ul.messageQuickOptions {
			float: right;
		}
	}

	.todoNode1 {
		//background-color: @wcfContainerBackgroundColor;
	}

	.todoNode2 {
		//background-color: @wcfContainerAccentBackgroundColor;
	}

	.todo > div > .containerHeadline > h3 {
		font-weight: normal;
	}

	.todoResponsible {
		left: 66%;
		margin-top: -4px; //TODO: check
		position: absolute;
		top: 8px; //TODO: check
		width: 32%;
		> div > div {
			> ul {
				overflow: hidden;
				text-overflow: ellipsis;
				width: 98%;
				white-space: nowrap;
				word-wrap: normal;
				list-style: none;
				> li {
					display: inline;
					//padding-right: @wcfGapTiny;
				}
			}

			> small {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-wrap: normal;
				time {
					//color: @wcfDimmedColor;
				}
			}
		}
	}
}

// seperator description <=> attachments
.todoContainer > .attachmentFileList > fieldset > legend {
	//border-top: 1px solid @wcfContainerBorderColor;
}

// moderation buttons
.boxHeadline.todo {
	position: relative;
	> nav.buttonGroupNavigation {
		position: absolute;
		right: 4px;
		top: 0;
	}
}

#prioPicker > span {
	cursor: pointer;
}

// detail page
.todoContainer {
	.progressbar_main {
		position: relative;
		border: 1px solid #AAAAAA;
		color: #222222;
		border-radius: 4px;
		overflow: hidden;
		text-align: left;
		display: inline-block;
		height: 25px;
		width: calc(100% - 2px);
		background-image: -moz-linear-gradient(top left, #ff0000 0%, #ffff00 50%, #00c324 100%);
		background-image: -webkit-linear-gradient(top left, #ff0000 0%, #ffff00 50%, #00c324 100%);
		background-image: -ms-linear-gradient(top left, #ff0000 0%, #ffff00 50%, #00c324 100%);
		background-image: -o-linear-gradient(top left, #ff0000 0%, #ffff00 50%, #00c324 100%);
		.progressbar_inner {
			//background-color: @wcfContainerBackgroundColor;
			height: 26px;
			margin-top: -1px;
			margin-left: -1px;
			float: right;
		}

		.progressbar_text {
			vertical-align: middle;
			padding-left: 3px;
		}
	}

	#toDoCommentList {
		& > li {
			padding: 7px 0;
		}
	}
}

.todoCategoryList {
	.todoDepth2 {
		&.todoCategoryContainer > .todoCategory {
			padding-left: 43px;
		}

		&.todoCategory > header {
			padding-left: 43px;
		}
	}

	.todoCategory {
		.todoDepth2 {
			&.todoCategoryContainer > .todoCategory {
				padding-left: 4px; //TODO: check
			}
		}
	}

	.todoCategoryContainer {
		position: relative;
	}

	.todoDepth1 {
		margin-top: 8px; //TODO: check
	}

	.todoCategory {
		min-height: 44px;
		padding: 4px; //TODO: check
		padding-right: 51%;
		border-radius: 6px;
		@include transition(background , .1s);
		&:hover {
			//background-color: @wcfContainerHoverBackgroundColor;
		}
	}

	.todoCategoryNode1 {
		//background-color: @wcfContainerBackgroundColor;
	}

	.todoCategoryNode2 {
		//background-color: @wcfContainerAccentBackgroundColor;
	}

	.todoCategory > div > .containerHeadline > h3 {
		font-weight: normal;
	}
}

.todoProgress {
	float: right;
}