.importantToDo , .importantToDo a {
	color: #ff0000;
}

.todoList {
	.jsTodo {
		border-bottom: 1px solid $wcfContentBorderInner;

		&:hover {
			background-color: $wcfTabularBoxBackgroundActive;
		}
	}

	.todoData {
		align-items: center;
		display: flex;
		padding: 10px 5px;
		width: 100%;
		flex-wrap: wrap;

		> div:first-of-type {
			overflow: hidden;

			@include screen-md-up {
				flex: 1 1 auto;
				margin-right: 20px;
			}

			@include screen-sm-down {
				flex: 0 0 100%;

				h3 {
					align-items: center;
					display: flex;
					overflow: hidden;
					white-space: nowrap;

					> a {
						flex: 1 1 auto;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					> .badge {
						flex: 0 0 auto;
						margin-left: 10px;
					}
				}
			}

			.labelList {
				float: right;
			}

			.todoDescription {
				color: rgba(120, 120, 120, 1);
			}
		}
		.todoStats {
			position: relative;
			z-index: 50;

			dl {
				dt {
					flex: 0 0 50%;
				}
				dd {
					width: calc(50% - 5px);
					font-size: 12px;
				}

				@include screen-sm-down {
					flex-direction: row;

					dt, dd {
						text-align: left;
						margin-left: 0;
						color: $wcfContentText;
						@include wcfFontDefault();
					}
				}
			}

			@include screen-md-up {
				flex: 0 0 30%;
				margin-right: 26%;
			}

			@include screen-sm-down {
				margin-top: 5px;
				flex: 0 0 100%;
			}
		}

		.todoResponsible {
			overflow: hidden;
			z-index: 100;

			@include screen-md-up {
				flex: 0 0 26%;
				padding-right: 20px;
			}

			@include screen-sm-down {
				margin-top: 5px;
				flex: 0 0 100%;
			}
		}

		@include screen-md-up {
			.todoStats + .todoResponsible {
				margin-left: -34%;
			}

			.todoResponsible {
				flex: 0 0 34%;
				padding-right: 20px;
			}
		}
	}
}

#prioPicker {
	.active {
		text-decoration: underline;
		padding-right: 35px;

		&::after {
			content: $fa-var-check;
			display: inline-block;
			font-family: FontAwesome;
			position: absolute;
			margin-left: 5px;
		}
	}

	span[data-prio="3"] {
		background-color: rgb(128, 128, 128);
		color: #fff;
	}
	span[data-prio="2"] {
		background-color: rgb(0, 128, 255);
		color: #fff;
	}
	span[data-prio="1"] {
		background-color: rgb(217, 38, 38);
		color: #fff;
	}
}

// detail page
.todoContainer {
	.progressbar_main {
		position: relative;
		border: 1px solid #AAAAAA;
		color: #222222;
		border-radius: 4px;
		overflow: hidden;
		text-align: left;
		display: inline-block;
		height: 25px;
		width: calc(100% - 2px);
		background-image: -moz-linear-gradient(top left, #ff0000 0%, #ffff00 50%, #00c324 100%);
		background-image: -webkit-linear-gradient(top left, #ff0000 0%, #ffff00 50%, #00c324 100%);
		background-image: -ms-linear-gradient(top left, #ff0000 0%, #ffff00 50%, #00c324 100%);
		background-image: -o-linear-gradient(top left, #ff0000 0%, #ffff00 50%, #00c324 100%);
		.progressbar_inner {
			//background-color: @wcfContainerBackgroundColor;
			height: 26px;
			margin-top: -1px;
			margin-left: -1px;
			float: right;
		}

		.progressbar_text {
			vertical-align: middle;
			padding-left: 3px;
		}
	}

	@include screen-md-up {
		dl {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;

			dt {
				flex: 0 0 200px;
			}
			dd {
				flex: 0 0 auto;
				width: calc(100% - 205px);
			}
		}
	}

	#toDoCommentList {
		& > li {
			padding: 7px 0;
		}
	}
}

.todoCategoryList {
	> li {
		padding: 10px 5px;
		position: relative;
		border-bottom: 1px solid $wcfContentBorderInner;

		&:hover {
			background-color: $wcfTabularBoxBackgroundActive;
		}
	}
}

.todoProgress {
	float: right;
}

.todoLikeContainer {
	margin-top: 30px;
	display: flex;
	flex-direction: row;

	@include screen-md-up {
		.todoLikesSummery {
			flex: 1 1 auto;
		}

		.todoLikeButtons {
			justify-content: flex-end;
			flex: 0 1 150px;
		}
	}

	@include screen-sm-down {
		.todoLikesSummery, .todoLikeButtons {
			flex: 1 1 100%;
		}
	}
}
