.importantToDo, .importantToDo a {
    color: #ff0000;
}

// mobile style
.todoList {

	> li {
		width:320px;
		height:100%;
		float:left;
		margin:6px;
		box-shadow: 0 0 5px #ddd;
		border: 6px solid #cccccc;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
    .todoDepth1 {
        margin-top: @wcfGapMedium;
		border-radius: 12px !important;
    }
    .todoDepth2 {
		height:100% !important;
	}

    .todo {
        min-height: 26px;
		max-height: 100%;
		padding: 6px 6px 8px 8px;
		
		&.box32 > *:not(:first-child) { margin:0; }
		
		> div { float:none; margin:0; padding: 0 0 0 0; }
		
		> div > div {
			padding: 4px 4px 0 0;
			float:left;
			
			> .badge {
				border: 1px solid #777777;
			}
		}
		
		&.priority-0 {
			//background-color: #E0EEBB;
			a {
				color: green;
			}
		}
		&.priority-1 {
			//background-color: #F1F1F1;
			a {
			//	color: blu;
			}
		}
		&.priority-2 {
			//background-color: #F3CBCB;
			a {
				color: red;
			}
		}
		
		> div > .containerHeadline {
			padding-left:8px;
		}
		&:hover {
			background-color: @wcfContainerHoverBackgroundColor;
		}
    }
    .todoDepth2 {
		&.todoContainer > .todoNode1 {
			padding-left: 43px;
		}
		
		&.todoDepth1 > header {
			padding-left: 43px;
		}
	}
	.todoStats {
		left: 49%;
		margin-top: 0;
		position: absolute;
		top: @wcfGapMedium;
		width: 16%;
		
		> dl {
			> dt {
				line-height: @wcfBaseLineHeight;
				width: 48%;
			}
			
			> dd {
				font-weight: normal;
				font-size: @wcfSmallFontSize;
				width: 50%;
			}
		}
	}
    .todoContainer {
        position: relative;
        border: 0;
        border-radius: 0;
        
        &:last-child {
            border-bottom-left-radius: @wcfContainerBorderRadius;
            border-bottom-right-radius: @wcfContainerBorderRadius;
            
            .todo {
                border-bottom-left-radius: @wcfContainerBorderRadius;
                border-bottom-right-radius: @wcfContainerBorderRadius;
            }
        }
        &:not(:last-child) {
            border-bottom: 1px solid @wcfContainerBorderColor;
        }
        > ul.messageQuickOptions {
            float: right;
        }
    }
    .todoNode1 {
		background-color: @wcfContainerBackgroundColor;
	}

	.todoNode2 {
		background-color: @wcfContainerAccentBackgroundColor;
	}
	
	.wbbBoard > div > .containerHeadline > h3 {
		font-weight: normal;
	}
    .todoResponsible {
		left: 66%;
		margin-top: 0;
		position: absolute;
		top: @wcfGapMedium;
		width: 32%;
		
		> div > div {
			> ul {
				overflow: hidden;
				text-overflow: ellipsis;
				width: 98%;
				white-space: nowrap;
				word-wrap: normal;
				list-style: none;
				> li {
                    display: inline;
                    padding-right: @wcfGapTiny;
				}
			}
			
			> small {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-wrap: normal;
				
				time {
					color: @wcfDimmedColor;
				}
			}
		}
	}
}

// moderation buttons
.boxHeadline.todo {
    position: relative;
    
    > nav.buttonGroupNavigation {
        position: absolute;
        right: 4px;
        top: 0px;
    }
}