.toDoContainer {
    .columnToDoStatus {
        width: 100px;
    }
    .importantToDo, .importantToDo a {
        color: #ff0000;
    }
    .columnLabel {
        min-width: 105px;
    }
    #toDoCommentList {
     margin: 0 -21px -14px;
    }
}